:root {
  --background-main: #0f1320;
  --background-card: #171b29;
  --background-light: #fff;
  --text-main: #fff;
  --text-blue: #3a7db3;
  --text-blue-2: #2278d4;
  --text-gray: #dde2ff;
  --text-green: #22a75d;
  --text-dark: #0f1320;
  --button-green: #22a75d;
}
